.bg {
  margin: 4px 0px 0px 2px;
  padding: 0px;
  background-color:#ffffff;
  color:#222222;
  font-size:11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;

}
.footer{
  font-size:10px;
  padding: 2px 4px 10px 4px;
}
.cstatusred{
  color:#fe3333;
  font-weight:bold;
}
.inp {
  color:#222222;
  background-color:#f8f8f8;
  border-color: #d1d1d1;
  border-width:1px;
}
.inpsel {
  color:#222222;
  background-color:#dddddd;
  border-color: #d1d1d1;
  border-width:1px;
}
.thumbouter{
  padding: 8px 0px 10px 0px;
  background-color:#f8f8f8;
  color:#222222;
}
.thumbouterhvr{
  padding: 8px 0px 10px 0px;
  background-color:#eeeeee;
}
.thumboutertxt{
  padding: 4px 4px 4px 4px;
  width:164px;
  height:90px;
  display:table-cell;
  vertical-align:middle;
  background-color:#ffffff;
  border: solid 1px;
  border-color:#ffffff;
}
.thumboutertxthvr{
  padding: 4px 4px 4px 4px;
  width:164px;
  height:90px;
  display:table-cell;
  vertical-align:middle;
  background-color:#f8f8f8;
  border: solid 1px;
  border-color:#eeeeee;
}
.thumbouter_vert{
  padding: 0px 0px 0px 0px;
  background-color:#f8f8f8;
  border: solid 2px;
  border-color:#f8f8f8;
}
.thumbouterhvr_vert{
  padding: 0px 0px 0px 0px;
  background-color:#f8f8f8;
  border: solid 2px;
  border-color:#fd8888;
}
.prevnext{
  padding: 3px 3px 3px 3px; 
  border-style:solid; 
  border-width:1px; 
  border-color:#222222;
  background-color:#ffffff;
}
.prevnextsel{
  padding: 3px 3px 3px 3px; 
  border-style:solid; 
  border-width:1px; 
  border-color:#222222;
  background-color:#d8d8d8;
}
.prevnextcur{
  padding: 3px 3px 3px 3px; 
  border-style:solid; 
  border-width:1px; 
  border-color:#222222;
  background-color:#d8d8d8;
}

.novidlink{
  position:relative;
  width:164px;
  height:90px;
  left:0px;
  top:0px;
  border: 1px solid #cccccc;
  vertical-align:bottom;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
.vidlink{
  position:relative;
  width:164px;
  height:90px;
  left:0px;
  top:0px;
  cursor:hand;
  border: 1px solid #444444;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
.vidlink .vidlinkplaybtn {
  background:transparent url(img/playbluemed.png) no-repeat scroll 0pt 50%;
  cursor:hand;
  color:#000000;
  display:block;
  height:44px;
  position:relative;
  text-align:left;
  text-decoration:none;
  vertical-align:bottom;
  width:32px;
  opacity: 0.7;
  left: 0px;
  top: 20px;
}
.vidplaybluebigbtn {
  border: 12px solid #f8f8f8; 
}
.vidplaybluebigbtn2 {
  padding: 12px 0px 0px 0px;
  border: 12px; 
}
a.flink {
  color:#1111;text-decoration:none;
}
a.flink:hover{
  color:#0000;text-decoration:none;
}

a{ color:#1111bb; text-decoration:none; }
a:hover { color:#0000; text-decoration:none; }
td { font-size:11px; }
div { font-size:11px;}

#fileinfoshareid {
font-size: 0.75em;
position: absolute;
visibility: hidden;
left: 0px;
top: 0px;
width: 100px;
height: 100px;
z-index: 5;
}

#logodiv {
  text-align:left;
  padding:10px 0px 0px 20px;
}

.vidtag {
  background-color:rgba(0,0,0,.95);
  padding: 10px 10px 10px 10px;
  border:1px solid #959595;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.rtspplay {
  position:relative;

  background-color:rgba(239,239,239,.95);
  padding: 10px 10px 10px 10px;
  border:1px solid #959595;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

  width:164px;
  height:90px;
  left:0px;
  top:0px;
  border: 1px solid #cccccc;
  vertical-align:bottom;
} 
